form {
  wdith: 40vw;
  height:40vw;
  background-color: rgba(50, 140, 250, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_layout {
  display: flex;
  flex-direction: row;
}
