body {
  margin: 0vw;
  display: flex;
  flex-direction: row;
}

#form > h1{
  font-size: 5vmax;
  margin-top: 0px;
}

#v_line {
  border-left : 1.4vw solid #000000;
  margin: 10vh 5vw 0vw 4vw;
  height : 46vh;
}

#form{
  margin: 10vh 0vw 0vw 0vw;
}

.form_layout input{
  height: 1.7vh;
  border: 0px;
  border-bottom: 2px solid rgb(167, 167, 167);
}

.form_layout p{
  color: rgb(48, 48, 48);
  font-size: 2vmax;
}

.form_layout input:focus{
  outline: none;
  border-bottom: 2px solid rgb(56, 56, 56);
}

.form_layout > button{
  font-size: 1.2vmax;
  width: 15vw;
  height: 3vh;
  background-color: #ffffff;
  border-radius: 0.6vmax;
  border: 0.1vmax solid rgb(0, 0, 0);
}

.form_layout {
  width: 30vw;
  height: 10vh;
  display: flex;
  justify-content: left;
  margin-bottom: 5vh;
}


.form_layout:nth-child(-n+3) {
  flex-direction: column;
}

.form_layout:nth-child(4) {
  width: 30vw;
  justify-content: space-between;
}
